.filter-lesson {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 2px;
  box-sizing: border-box;
}

.filter-lesson .list-li {
  line-height: 26px;
  font-size: 14px;
}

.filter-lesson .front {
  float: left;
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

.filter-lesson .item-wrap {
  float: left;
  margin-left: 10px;
  overflow: hidden;
}

.filter-lesson .item {
  float: left;
  margin: 10px;
  padding: 0 15px;
  border-radius: 13px;
  color: #666;
  background: transparent;
  cursor: pointer;
}

.filter-lesson .item.active,
.filter-lesson .item:hover {
  color: #fff;
  background-color: #19b955;
  background-image: linear-gradient(-90deg, #19b955 0%, #6dd718 100%), linear-gradient(#37c879, #37c879);
  background-blend-mode: normal, normal;
}


.filter-list-wrap {
  padding-left: 30px;
  padding-right: 30px;
}s