@charset "utf-8";

/*nav seach*/
.bgf5f5f5{ background:#fff;}
.gray{ color:#999;}
.nav_bax{float: left; margin-left: 36px;}
.nav_bax .depth1_li{ margin-right:5px;}
.nav_bax .depth1:hover, .nav_bax .current .depth1{background: #0f9dee; border-radius:2px;}
.nav_bax .depth2:hover{color: #0f9dee;}
.search_button{ background:#0f9dee url(../images/icon/search.png) no-repeat scroll center center}
.search_text{border:#0f9dee solid 2px; border-right:none;}
/*index*/
.gkk-nav{ height:45px; line-height:45px; width:100%; background:#37c878; min-width:1200px}
.gkk-nav-cen{ width:1200px; margin:0 auto; font-size:18px; color:#FFF;}
.gkk-nav-cen li{ text-align:center; width:120px; float:left;}
.gkk-nav-cen li a { color:#FFF; display:block; width:100%; height:100%;}
.gkk-nav-cen li a:hover,.gkk-nav-cen li a.curr{ background:#19a200; transition:all 0.4s ease 0s; }

.banner{ width:100%; height:430px; min-width:1200px; position:relative; z-index: 1;}
.banner_Area{ width:100%; height:100%;}
.banner_Area li{width:100%; height:100%; position:absolute;z-index:8; display: none}
.banner_Area li a{ display:block; width:1200px; height:100%; margin:0 auto}
.banner_List{ width:68px; position:absolute; z-index:15; margin-left:-30px; left:50%; bottom:10px}
.banner_List li{ margin:0 5px 0 0; width:12px; text-indent:-200px; overflow:hidden; cursor:pointer; height:12px; background:#666; line-height:8px; border-radius:8px; float:left }
.banner_List li.on,.banner_List li.on:hover{ background:#FC0}
.banner_List li.last{ margin-right:0}
.banner_List li:hover{ background:#fadc38}
.nextAndPrve{ width:0; height:0; cursor:pointer; z-index:20 }
.nextAndPrve li{ position:absolute; z-index:50; left:50%; top:50%; margin-top:-25px; margin-left:-600px; width:32px; height:50px;  box-shadow:1px 2px 3px 0 #000; background:rgba(0,0,0,0.3); font-size:24px; line-height:50px; color:#FFF; text-align:center;}
.nextAndPrve li.right{  margin-left:600px;}

.gkk-title1 .gkk-more-title{ font-size:12px; line-height:20px; background:url(../images/open-class/more.png) no-repeat right top;color:#999; height:18px; overflow:hidden; padding-right:25px; margin-top:10px;}
.gkk-title1 .gkk-more-title:hover{color:#0f9dee;  background:url(../images/open-class/more.png) no-repeat right -18px;}
.gkk-section{ width:1200px; margin:0 auto;}
.gkk-title1{ margin-top:30px;}

.gkk-title-left{ float:left; width:242px;}
.gkk-title-cor{ float:left; width:600px;font-size:16px; line-height:16px; margin-top:10px;}
.gkk-title-cor li{ float:left; margin-right:20px; cursor:pointer; transition:all 0.3s ease 0s; }
.gkk-title-cor li:hover{ color:#0f9dee;}
.gkk-title-cor li.curr{ color:#0f9dee;}

.gkk-title1 .title-icon{ background:#43cd81; height:30px; width:7px; overflow:hidden; float:left; display:block; margin:0 12px 0 1px;border-radius:2px;}
.gkk-title1 .title-icon1{ background:#5075ff;}
.gkk-title1 .title-icon2{ background:#ffbb45}
.gkk-title1 .title-icon3{ background:#00c2e4}
.gkk-title1 .title-icon4{ background:#ffec18}
.gkk-title1 .title-icon5{ background:#ff4317}

.gkk-title1 .title-text{ font-size:30px; line-height:30px; position:relative;float:left; display:block;}
.gkk-title1 .title-paopao{width:16px; height:16px; line-height:16px; text-align:center; overflow:hidden; background:url(../images/open-class/num-bg.png) center center no-repeat; border-radius:8px; font-family:Arial, Helvetica, sans-serif; color:#FFF;float:left; display:block; font-size:14px; position:relative; top:-5px; }


.gkk-title1 p{ color:#7e7e7e; font-size:20px; line-height:35px;}
.gkk-box-dl{ margin-top:20px;}
.span-p{ display:block; line-height:25px; color:#000; height:25px; overflow:hidden}
.span-p i{ font-style:normal;}
.span-p.tex-r{ text-align:right}
.span-p .l{ float:left}

.a-text{ display:none; width:67px; height:67px;  background:url(../images/open-class/ljxx.png) center center no-repeat; position:absolute; z-index:1; left:50%; top:50%; margin:-30px 0 0 -30px; overflow:hidden; text-indent:-100px;}
.a-text2{ background:url(../images/open-class/qxzd.png) center center no-repeat;}

.a-text{ display:block;} 
.gkk-adv { padding:35px 0; height:150px;}
.gkk-adv li{ float:left; width:593px;}
.gkk-adv li.first{ margin-right:14px; }
.gkk-adv li img{ width:100%;height:173px;}

.level-indicator{ width:1200px; height:50px; line-height:50px; margin:0 auto;}
.gkk-desc{ }
.level-indicator a:hover{ color:#37c878}

.jytt{ padding:30px 0 0;}
.jytt img{ display:block; width:100%; height:98px;}

.gkkzb-ul-left{ position:relative; width:228px;height:487px; float:left;}
.gkkzb-ul-left img{ display:block;width:228px; height:483px;}
.gkkzb-ul-left .rm{ position:absolute; right:0; top:0;width:88px; height:86px;}
.gkk-box-dl .gkkzb-ul{ margin-left:-13px;}
.gkk-box-dl .gkkzb-ul li{ margin-left:13px; margin-right:0;}

/**list*/
.gkk-main-left{ width:902px; float:left;}
.gkk-title2{ font-size:18px; color:#484848; line-height:46px; padding-left:20px; }
.gkk-list-box{ border:#ccc solid 1px; border-top: 0; padding:24px 20px; background:#fff;height:175px; cursor:pointer;}
.gkk-list-box:hover{ background:#f9fff8; transition:all 0.2s ease 0s; border-radius:3px;}
.gkk-list-box .left{ width:620px; height:175px; float:left; position:relative;}
.gkk-list-box .left .gkk-pic{ width:228px; float:left; margin-right:15px; height:175px;}
.gkk-list-box .left h2{ font-size:24px; color:#3b3b3b; line-height:30px; height:30px; overflow:hidden;}
.gkk-list-box .left .mb20{ margin-bottom:20px; color:#818181; margin-top:5px; line-height:25px; height:50px; text-align:left;}
.gkk-d-ul{ margin-top:40px; color:#818181; }
.gkk-desc .gkk-d-ul{ height:48px; margin-top:20px;width:320px;}
.gkk-section .tab_tab_centent{ display:block;}
.gkk-d-ul li{ float:left; width:160px; line-height:23px;}
.gkk-list-box .right{ float:right; width:178px;}
.gkk-list-box p{ font-size:14px; color:#818181; line-height:25px; margin:52px 0; text-align:right;}
.gkk-green{ color:#37c878;}
.gkk-list-box p.gkk-green{ padding-top:30px; font-size:18px; margin-bottom:5px; color:#37c878; }
.gkk-list-box .right a{ width:100%; line-height:39px; color:#FFF; text-align:center; display:block; background:#5291e7; }
.gkk-list-box .right a:hover{ background:#0656c4}

.gkk-main-right{ width:282px; float:right}
.gkk-r-list{border-top:#e3e3e3 solid 1px}
.gkk-r-list img{ width:84px; height:64px; float:left; margin-right:10px;}
.gkk-r-list li a{ display:block; padding:18px; border:#e3e3e3 solid 1px; border-top:none; height:64px; color:#3b3b3b;}
.gkk-r-list li a:hover{  background:#f7fff5;}
.gkk-r-list li h2{ height:32px; overflow:hidden;}
.gkk-r-list li h2,.gkk-r-list li p{ line-height:32px;}
.gkk-r-list li .price-free,.total-d2 .price-free,.gkk-r-list li .price-no-free,.total-d2 .price-no-free{ position:inherit; border:none; display:inline; border-radius:0; color:#37c878; background:none; font-size:14px;}
.gkk-r-list li .price-no-free{ color:#ff8a0c;}
.gkk-list-adv{ border:#ccc solid 1px; border-top:none}
.gkk-list-adv img{ display:block; width:100%;}

.gkk-b-wrap{ width:100%; overflow:hidden;}
.gkk-b-list li{ width:240px; float:left;}
.gkk-b-list-cor li{ margin:0 5px 0 0; width:12px; text-indent:-200px; overflow:hidden; cursor:pointer; height:12px; background:#666; line-height:8px; border-radius:8px; float:left }

.gkk-b-list-cor{ width:100px; margin:0 auto; padding:20px 0;}
.gkk-b-list-cor li.on,.gkk-b-list-cor li.on:hover{ background:#37c878}
.gkk-b-list-cor li.last{ margin-right:0}
.gkk-b-list-cor li:hover{ background:#37c878}

.course-trigger-box{ height:46px; padding-left:0; border: 1px solid #ccc;}
.course-trigger{float:left; position:relative; padding-right: 10px; margin-right: 40px; height:46px; text-align:center; border:#fff solid 1px; border-bottom: 0; border-top: 0;}
.course-trigger:hover{border:#d9d9d9 solid 1px; border-top: 0; border-bottom: 0}
.course-trigger1{width:123px; margin-left:0;}
.course-trigger1:hover{border-left: 1px solid #fff;}
.course-tr-curr{min-width: 40px; padding: 0 20px; line-height:46px; font-size:18px;background:url(../images/open-class/jiantou.png) no-repeat scroll right -33px; cursor:pointer; }
.course-trigger1 .course-tr-curr{background:url(../images/open-class/jiantou.png) no-repeat scroll 104px -33px;}
.course-tr-curr.on,.course-tr-curr:hover{ color:#37c878;background:url(../images/open-class/jiantou.png) no-repeat scroll right 21px; }
.course-trigger1 .course-tr-curr.on,.course-trigger1 .course-tr-curr:hover{background:url(../images/open-class/jiantou.png) no-repeat scroll 104px 21px;}
.course-tr-ul{ position:absolute; z-index:2; background:#fff;left:-1px; top:46px; width:90px; line-height:30px; font-size:14px; display:none;border: #ccc solid 1px}
.course-trigger1 .course-tr-ul{ width:134px; left: -2px;}
.course-tr-ul li a{ display:block;}
.course-tr-ul li a:hover{ background:#e9e9e9; color:#333;}


/**detali**/
.gkk-desc{ height:177px;}
.gkk-desc-pic{ width:283px; float:left; height:177px;}
.gkk-desc-pic img{ width:283px; height:177px;}
.gkk-desc-right{ width:893px; float:right; line-height:24px; position:relative}
.gkk-desc-right .gkk-desc-right-title .fr{ font-size:14px; color:#7d7d7d}
.gkk-desc-right-title{ font-size:24px; padding:0 0 10px 0; line-height:25px; border-bottom:#ccc solid 1px;}
.gkk-desc-right .gkk-green{ padding-right:40px}
.gkk-icon{ display:inline-block; font-size:12px; padding:3px 5px; color:#fff; background:#4d88d9; line-height:13px; margin:0 0 0 10px; position:relative; top:-4px;}
.btn-p{ padding-top:15px;}
.btn-p a.gkk-btn{ float:left}
a.gkk-btn{ display:block; width:127px; line-height:29px; height:29px; border:#37c878 solid 1px; background:#37c878; color:#FFF; border-radius:4px; text-align:center;}
a.gkk-btn:hover{ border:#23b565 solid 1px; background:#23b565;}
a.gkk-btn.useless,a.gkk-btn.useless:hover{ background:#dbdbdb; border:#494949 solid 1px; color:#666; cursor:default;}
.share-box{ width:150px; }
.share-icon{ background:url(../images/open-class/share.png) left center no-repeat; display:inline-block;padding:3px; color:#4d88d9; cursor:pointer; padding-left:17px; }
.share-box .share-box-list{ top:17px;  left:17px}
.share-box2{ position:absolute; right:0; top:20px; width:150px; height:30px;}
.share-icon2{ background:url(../images/open-class/share2.png) left center no-repeat; display:inline-block;padding:3px; color:#fff; cursor:pointer; padding-left:20px; }
.share-box2 .share-box-list{ top:-20px;  left:-30px; z-index:100; width:140px; position:absolute}


.gkk-section .tab_list li{ width:223px}
.gkk-section .tab_list li.first{ width:224px;}
.gkk_text_box{ padding:10px 20px; line-height:23px; color:#999; text-indent:2em}
.gkk-icon-list{ padding:20px 22px 0 22px;}
.gkk-icon-list li{ width:50%; float:left; margin-bottom:20px;}
.gkk-icon-list li:hover{ opacity:0.93}
.gkk-icon-list li .left{ width:58px; height:30px; padding:12px 0; line-height:15px; text-align:center; color:#FFF; background:#4d88d9; border-radius:5px; float:left; margin-right:18px;}
.gkk-icon-list li .right{ height:76px; line-height:29px}
.gkk-icon-list li .right h4{ font-size:14px;}
.gkk-icon-list li .right p{ color:#666}
.bor1{ border-bottom:#eaeaea solid 1px;}
.teacher-d2{ border:#e8e8e8  solid 1px; padding:30px 19px; background:#fff; text-align: center; min-height: 219px;}
.teacher-d2 .top{ text-align: center}
.teacher-d2 .top img{ width:88px; height:88px; display:block; margin: 0 auto;}
.top-r{ margin-top: 12px;}
.teacher-d2 .top h3{ font-size:16px; line-height: 16px;}
.teacher-d2 .top h3 a{ font-size:16px; display: block; line-height: 16px}
.teacher-d2 .top p{ color:#999; line-height:14px; font-size: 14px; margin-top: 9px;}
.teacher-d2 .top p .pi1{ padding-right:5px; }
.teacher-d2 .top p .pi2{ padding:0 5px;}
.teacher-d2 .top a.workroom{ width:94px; height:30px; color:#fff; background:#4e88da; border-radius:2px; line-height:30px; text-align:center; display:block; margin-top:5px;}
.bott{margin-top: 20px; color:#666; line-height:21px; font-size: 14px; text-align: left}

/**play**/
.gkk-play-wrap{ width:100%; background:#282828;}
.gkk-play{ width:100%; position:relative;}
.gkk-play-left{ width:1100px; padding:0 0 20px 20px; float:left; height:760px;}
.video-html{ width:100%; height:100%;}
.gkk-play-right{ width:280px; background:#f3f3f3; float:right; height:800px; overflow:hidden;}
.gkk-ctrol{ position:absolute; width:16px; height:186px; line-height:186px; color:#FFF; text-align:center; border:#7a7a7a solid 1px; right:280px; top:50%; margin-top:-93px}
.gkk-ctrol:hover{ cursor:pointer; background:#444}
.gkk-play-right .gkk-title2{ background:#dedede}

.gkk-list-play{overflow: auto; height: 160px;}

.gkk-list-play li{ line-height:45px; height:45px; overflow:hidden; font-size:14px; background:#fff;}
.gkk-list-play li.curr{ color:#FFF; background:#4e88da;padding:0 12px; }
.gkk-list-play li a{ display:block; padding:0 12px; height:45px; color:#333;}
.gkk-list-play li a:hover{  color:#ff7800; background:#edf4fe}
.pj{ padding:20px; line-height:28px; text-align:center}
.pj a.gkk-btn{ margin:0 auto 15px auto}

.gkk-play-title{ font-size:24px; line-height:25px; padding:20px 0; background:#282828; color:#fff; position:relative }

.nodata{ padding:50px 0; height:82px;}
.nodata img{ float:left; width:82px; height:82px; margin-right:20px;}
.nodata h2{ color:#999999; font-size:18px; line-height:30px; margin-bottom:10px;}
.nodata h2 span{ font-size:24px; color:#333}
.nodata .right{ float:left; width:550px;}

.gkk-nav-index{ border:#d3d3d3 solid 1px; height:136px; margin-top:47px;}
.gkk-nav-index li.deph1{ float:left; border-left:#d3d3d3 solid 1px; width:171px; padding:20px 34px;}
.gkk-nav-index li.num_1{ border-left:none;}
.gkk-nav-index li:hover{ background:#f3fbff;}
.gkk-nav-index li h2{ line-height:36px; background:url(../images/open-class/icon-type.png) 10px center no-repeat; padding-left:58px;}
.gkk-nav-index2{ line-height:25px; padding-top:10px;}
.gkk-nav-index2 a{ display:inline-block; font-size:14px; padding:0 13px;}
.gkk-nav-index a:hover{ color:#0f9dee;}

.price-free,.price-no-free{ position:absolute; top:6px; left:0; border:#000 solid 1px; border-left:none; text-align:center; border-radius:0 12px 12px 0; line-height:24px; font-size:14px; color:#303030; display:block; width:50px; background:#37c879;}
.price-no-free{ background:#ffc104;}


.gkkzb-ul-box{overflow:hidden; height:265px; width:1200px; margin:0 auto;}
.more-control{ width:41px; line-height:20px; height:20px; border:#bebebe solid 1px; margin-top:8px;}
.more-control li{ width:20px; text-align:center; float:left; color:#7f7f7f; cursor:pointer;}
.more-control li.first{ border-right:#bebebe solid 1px;}
.more-control li.curr,.more-control li:hover{ background:#d7d7d7; color:#FFF;}
.more-control li:active{ background:#aaa;}

.tab_tab_centent h2.title1{ color:#1ec800; font-size:16px;}
div.grade_box{ width:756px;}
